@font-face {
    font-family: SFProDisplay-Regular;
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-family: SFProDisplay-Regular;
}
.main-content {
    background: #f0f2f5;
    min-width: 500px;
    padding-bottom: 112px;
    padding-top: 72px;
}
.main-login {
    margin: 0 auto;
    padding: 20px 0;
    width: 980px;
    display: flex;
}
.login-left {
    flex: 1 1 1000px;
}
.login-right {
    flex: 1 1 1000px;
}
@media only screen and (max-width: 768px) {
    .main-login {
        flex-flow: column;
    }
}
.facebook-logo {
    padding: 112px 0 16px;
    width: 240px;
}
.facebook-logo img {
    max-width: 100%;
}
h2 {
    font-size: 28px;
    font-weight: 100;
    margin-top: 0;
}