@font-face {
    font-family: SFProDisplay-Regular;
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
body {
    padding: 0;
    margin: 0;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-family: SFProDisplay-Regular;
}
.main-content {
    background: #f0f2f5;
    min-width: 500px;
    padding-bottom: 112px;
    padding-top: 72px;
}
.main-login {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 980px;
    display: flex;
}
.login-left {
    flex: 1 1 50%;
}
.login-middle {
    flex: 1 1 10%;
}
.login-right {
    flex: 1 1 40%;
}
@media only screen and (max-width: 768px) {
    .main-login {
        flex-flow: column;
    }
    .main-content {
        padding: 20px;
    }
}
.facebook-logo {
    padding: 112px 0 16px;
    width: 240px;
}
.facebook-logo img {
    max-width: 100%;
}
h2 {
    font-size: 28px;
    font-weight: 100;
    margin-top: 0;
}
.login-left h2 {
    line-height: 32px;
    letter-spacing: normal;
}
.login-card {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1 ), 0 8px 16px rgba(0, 0, 0, 0.1 );
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 10px 16px 28px 16px;
    max-width: 100%;
}
.divider {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 0;
    text-align: center;
}
input {
    border-radius: 6px;
    padding: 14px 16px!important;
    font-size: 17px;
    width: 100%;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    vertical-align: middle;
    margin: 6px 0;
}
::placeholder {
    color: #90949c;
}
.login-btn button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    max-width: 100%;
    width: 100%;
    color: #ffffff;
    margin: 6px 0;
}
.forget-pass {
    text-align: center;
}
.forget-pass a {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.forget-pass a:hover {
    border-bottom: 1px solid #1877f2;
}